<p id="notice"><%= notice %></p>
<h1>Chef's Page</h1>

<p>
  <strong>Chef Name:</strong>
  <%= @chef.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>


<%= link_to 'Back', restaurants_path %>
